:root {
  --colorPaletteGray50: #fafafa;
  --colorPaletteGray100: #f5f5f5;
  --colorPaletteGray200: #eeeeee;
  --colorPaletteGray300: #e0e0e0;
  --colorPaletteGray400: #bdbdbd;
  --colorPaletteGray500: #9e9e9e;
  --colorPaletteGray600: #757575;
  --colorPaletteGray700: #616161;
  --colorPaletteGray800: #424242;
  --colorPaletteGray900: #212121;
  --colorBrand1: #ffbc2c;
  --colorBrand2: #e0e4ea;
  --colorBrand3: #262d30;
  --colorBrand4: #474e57;
  --colorInfo: #0b71a1;
  --colorInfoLight: #d3f3fd;
  --colorWarning: #ffbc2c;
  --colorWarningLight: #fcf8da;
  --colorError: #f02b41;
  --colorErrorLight: #ffdde2;
  --colorSuccess: #39870c;
  --colorSuccessLight: #dce8d1;
  --colorBackground: #ffffff;
  --colorBackgroundAlt: var(--colorPaletteGray100);
  --colorFocus: #0b71a1;
  /* // Text */
  --colorText: var(--colorPaletteGray900);
  --colorTextInverse: var(--colorPaletteGray50);
  --colorTextLabel: var(--colorPaletteGray600);
  --colorTextDisabled: rgba(0, 0, 0, 0.3);
  --colorTextLink: #0b71a1;
  --colorTextLinkHover: #005282;
  --colorTextLinkDisabled: rgba(0, 0, 0, 0.2);
  /* --Alert; */
  --colorAlertInfo: var(--colorInfo);
  --colorAlertInfoBackground: var(--colorInfoLight);
  --colorAlertWarning: var(--colorWarning);
  --colorAlertWarningBackground: var(--colorWarningLight);
  --colorAlertError: var(--colorError);
  --colorAlertErrorBackground: var(--colorErrorLight);
  --colorAlertSuccess: var(--colorSuccess);
  --colorAlertSuccessBackground: var(--colorSuccessLight);
  /* --Buttons; */
  --colorBackgroundButtonPrimary: var(--colorBrand1);
  --colorBackgroundButtonPrimaryHover: #e5a827;
  --colorBackgroundButtonPrimaryDisabled: rgba(0, 0, 0, 0.1);
  --colorTextButtonPrimary: var(--colorText);
  --colorTextButtonPrimaryDisabled: var(--colorTextDisabled);
  --colorBackgroundButtonSecondary: var(--colorBrand2);
  --colorBackgroundButtonSecondaryHover: #cccfd5;
  --colorBackgroundButtonSecondaryDisabled: rgba(0, 0, 0, 0.1);
  --colorBackgroundButtonSecondarySelected: #0b71a1;
  --colorTextButtonSecondary: var(--colorText);
  --colorTextButtonSecondaryDisabled: var(--colorTextDisabled);
  --colorTextButtonSecondarySelected: var(--colorTextInverse);
  --colorBackgroundButtonDanger: var(--colorAlertError);
  --colorBackgroundButtonDangerHover: #d7263a;
  --colorBackgroundButtonDangerDisabled: rgba(0, 0, 0, 0.1);
  --colorTextButtonDanger: var(--colorTextInverse);
  --colorTextButtonDangerDisabled: rgba(0, 0, 0, 0.3);
  /* --Input; */
  --colorBackgroundInput: #ffffff;
  --colorBackgroundInputDisabled: rgba(0, 0, 0, 0.05);
  --colorBorderInput: var(--colorPaletteGray500);
  --colorBorderInputDisabled: transparent;
  --colorBorderInputError: var(--colorError);
  --colorBorderInputFocus: var(--colorFocus);
  --colorTextInputLabel: var(--colorPaletteGray800);
  --colorTextInputLabelDisabled: rgba(0, 0, 0, 0.2);
  --colorTextInputPlaceholder: var(--colorPaletteGray600);
  --colorTextInputDisabled: var(--colorTextDisabled);
  --colorTextInputError: var(--colorError);
  /* --Checkbox & Radio; */
  --colorBackgroundChoiceSelected: #0b71a1;
  --colorBackgroundChoiceDisabled: rgba(0, 0, 0, 0.1);
  --colorBorderChoice: var(--colorPaletteGray500);
  --colorBorderChoiceFocus: var(--colorFocus);
  /* --Dropdown, Select, Popover; */
  --colorBackgroundDropdown: var(--colorBackgroundInput);
  --colorBackgroundDropdownHover: var(--colorPaletteGray200);
  --colorBackgroundDropdownActive: var(--colorPaletteGray400);
  --colorBackgroundDropdownSelected: var(--colorPaletteGray300);
  --colorBorderDropdownFocus: var(--colorFocus);
  /* --Switch; */
  --colorBackgroundSwitch: var(--colorPaletteGray400);
  --colorBackgroundSwitchChecked: #0b71a1;
  --colorBackgroundSwitchDisabled: var(--colorPaletteGray200);
  --colorBackgroundSwitchIndicatorDisabled: var(--colorPaletteGray400);
  /* --Drawer; */
  --colorBackgroundDrawer: var(--colorBackground);
  /* --Table; */
  --colorBorderTable: var(--colorPaletteGray300);
  --colorBackgroundTableHover: rgba(0, 0, 0, 0.05);
  --colorBorderTableFocus: var(--colorFocus);
  /* Spacings */
  --xs: 0;
  --sm: 576;
  --md: 768;
  --lg: 992;
  /* --baseFontSize: 16px; */
  --spacing01: 0.125rem;
  --spacing02: 0.25rem;
  --spacing03: 0.5rem;
  --spacing04: 0.75rem;
  --spacing05: 1rem;
  --spacing06: 1.5rem;
  --spacing07: 2rem;
  --spacing08: 2.5rem;
  --spacing09: 3rem;
  --spacing10: 4rem;
  --spacing11: 5rem;
  --spacing12: 6rem;
  --lineHeightText: 150%;
  --lineHeightHeading: 125%;
  --fontWeightRegular: 500;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;
  --fontSizeSmall: 0.875rem;
  --fontSizeMedium: 1rem;
  --fontSizeLarge: 1.125rem;
  --fontSizeXLarge: 1.5rem;
  --fontSizeXXLarge: 2rem;
}

/* 
#E0E4EA
#212121
#E0E4EA
#F8F9FC
#ffbc2c
#F8F9FC
#474E57
#212121
#FFBC2C
#F8F9FC
#212121
#262D30
#474E57
#fff
#E0E4EA
#474E57

#fafafa
#E0E0E0
#E0E0E0
#fafafa
#BDBDBD
#BDBDBD
#fafafa
#E8DDD8
#BDBDBD
#BDBDBD
#E8DDD8
#E8DDD8
#EEEEEE
#E8DDD8
#E8DDD8
#C7D5B7
#E8DDD8
#C7D5B7
#C7D5B7
#fafafa
#E8DDD8
#F0F1EE
#fafafa
#C7D5B7
#EAEEE7
#F0F1EE
#F3E9D1
#fafafa
#B0CFDE
#B0CFDE
#B0CFDE
#E0E0E0
#BDBDBD
#FE7560
#FE8753
#9E9E9E
#BDBDBD
#FCC653
#F8D07A
#F1E4C7
#F1E4C7
#F1E4C7
#EEEEEE
#EEEEEE
#9E9E9E
#9E9E9E
#BDBDBD
#fafafa
#474E57
#212121
#FAFAFA
#fff
#FE636D
#616161
#757575
#212121
#FAFAFA
#39870C
#454B42
#FAFAFA
#616161
#212121
#FAFAFA
#424242
#212121
#e3e3e3 */
